body{
    padding: 0px;
    background-image: url(../images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

header{
    width: auto;
    height: 90px;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
   /** background-image: url(../images/regular-table-bottom.png);
        background-position: top;
       **/
}
.package_header{
    height: 99px;
}
.package_header img{
    height: 99px;
}
.package_logo{
   min-height: 50px;
   flex: content;
}
.logoname{
    padding-top: -300px;
    
  }

#payment_body{
    height: fit-content;
    overflow: hidden;
    
}



.payment_body-text{
    height: fit-content;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
}
.payment_body-text h1 {
    padding: 10px;
    
}

section{
    height: fit-content;
    padding: 10px;
}
.payment-methods{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.payment-details1{
   width: 20%;
    height: auto;
    text-align: center;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 10px;
    background-color: rgba(255, 251, 251, 0.966);
}
    

.payment-details1 .pay_mode {
    position: relative;
    padding-right: 100px;
    padding-left: 10px;
    width: inherit;
}
.inner_text  p{
    padding: -1px;
    font-weight: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: initial;    
}
#instruction-Colmn{
    min-height: 700px;
    width: inherit;
}

.split-colmn{
    width: inherit;
    height: 600px;
    padding: 2px;
    display: flex;
}
 .contents{
    width: 50%;
    height: auto;
    align-items: center;

 }

 ul li {
    list-style: none;
    padding: 30px;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    text-overflow: ellipsis;
 
}
.popup_tigo{
    display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popup_tigo .show{
    display: flex;
    height: 60px;
    width: auto;
}
.button{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
}
.pay_button {
    cursor:progress;
    
    letter-spacing: 2px;
    color: rgb(3, 10, 10);
    background: rgb(94, 188, 255);
    display: flex;
    border-radius: 30px;
    
    text-transform: capitalize;
    word-spacing: 1px;
    justify-content: center;
    line-height: 26px;
    align-content: stretch
}
/*@media (max-width: 767px){
.payment_body-text {
    height: fit-content;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    }
#payment_body{
    display: flex;
    min-height: inherit;

}
.payment-methods{
    width: 662px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}
.payment-details1{
    width: 919px;
}
}  */
#payment_modal{
    display: none;
    position: fixed;
}






#package_footer{
    max-width: inherit;
    height: inherit;

}
.footer_section{
    text-align: center;
}