<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/css/package.css">


   </head>

<body > 
    <header class= "package-header header-sticky wow slideInDown" data-wow-delay="0s">
   <div class="package_header">
        <a href="package.html" class="package_logo">
        <img src="../assets/images/Logopit.png"  alt="Olay logo"> </a>
    </div> 
     
    </header>
     <div id="payment_body"> 
       <span class="payment_body-text">
         <h1> Mobile payments that we support <h1>
       </span>
       <section class="payment-methods"> 
         <div class="payment-details1">
             <img  class="pay_mode" src="../assets/images/vodacom-mpesa-logo.svg" alt="Vodacom">  
              <div class="inner_text"> 
                 <p>Powered by Vodacom, Vodacom mPesa allows your customers to pay for goods or services using their mobile device.</p>
              </div> 
              <div class="button">
                 <button target="#instruction-colmn" id="pay_vodacom"  class="pay_button">Make your Payment</button> 
              </div>
           </div>

           <div class="payment-details1">
               <img class="pay_mode" src="../assets/images/tigopesa.svg" alt="Tigopesa">  
                <div class="inner_text"> 
                   <p>Available in Tanzania only, Tigo Pesa lets your customers use their mobile money wallet to pay you.
                    
                   </p>
                 </div> 
                 <div class="button">
                    <button  id="pay_tigopesa"  class="pay_button">Make your Payment</button> 
                 </div>
                 <div id="tigo_popup" class="popup_tigo">
                    <p>tigopesa<p>
                 </div>
             </div>


             <div class="payment-details1">
              <img  class="pay_mode" src="../assets/images/mpesa.svg" alt="Mpesa">  
                <div class="inner_text"> 
                   <p>mPesa is a convenient mobile money wallet allowing your unbanked customers to pay using their mobile device..</p>
                </div> 
                <div class="button">
                <button id="pay_mpesa" class="pay_button" onclick=" "type="button">Make your Payment<button>
                  </div> 
                 </div>
                 <!--- 
                  <div class="modal fade" id="payment_modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Payment Gateway</h5>
                                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                            </div>
                            <div class="modal-body">
                                <center>
                                    <img src="../assets/img/mpesa.png" alt="" width="100px">
                                </center>
                                <form action="/mpesa_payment" method="POST">
                                    <input type="hidden" name="amount" value="{{ product[2] }}">
                                    <label>Enter Your Safaricom Number</label>
                                    <input type="tel" class="form-control" name="phone" placeholder="254722xxxxxxx" required><br>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-success" type="submit">Make Payment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  -->  
             <div class="payment-details1">
              <img  class="pay_mode" src="../assets/images/airtel-money.svg" alt="Airtel_Money"> 
                <div class="inner_text"> 
                   <p>Powered by Airtel Payments Bank, the Airtel digital money wallet makes payments simple, secure and cashless.</p>
                </div> 
                <div class="button">
                 <button  id="pay_airtel"  class="pay_button">Make your Payment</button> 
              </div>
             </div>
              
         </section>
      </div>

   <div class="instruction-Colmn">   
        <div class="split-colmn">
       
           <div class="contents" data-wow-duration="2s" data-wow-delay="0.1s">
            <img src="../assets/images/USSD-Pay.svg" alt="Ussd-Pay">
           </div>  
  

           <div class="contents left" data-wow-duration="2s" data-wow-delay="0.1s">
               <ul> 
                  <li>For Vodacom M-pesa </li> 
                  <li>Dial *150*00#</li> 
                  <li>Select ..</li> 
                  <li>Send Money to M-pesa </li> 
                  <li>Account number: +254794933950</li>
                  <li>AMOUNT:  *preffered package</li>
                  <li>Safricom (Mpesa Kenya)</li>
                  <li></li>
           </div>  
      </div>
   </div> 
   <footer id="package_footer"> 
   <div class="footer_section">
      <p>Copyright © 2023 Olay product advert Company. All Rights Reserved. <p>
   </div>
   </footer>




   <!--script-->

   <script src="../assets/js/tigopop_up.js"> </script>




</body>
</html>